body {
    background-color: lightgray;
}
.btn {
    display: inline-block;
    background: steelblue ;
    color:#000;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}